@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
html,body {
	margin: 0;
	padding: 0;
	background: #F5F5F5;
}

#pagewarp {
	width: 100%;
	overflow-x:hidden;
}
#section1{
	width: 100vw;
	height: 100vh;
	background-color: #dcdcdc;
}
/*шапка*/
header {
	height: 100px;
	width: 100%;
	background: white;
}

	.header {
		width: 95%;
		margin-right: auto;
		margin-left: auto;
		height: 100px;
		overflow: hidden;
	}
/*лого шапки*/
		.header_logo {
			height: 80px;
			width: 80px;
			margin-top: 10px;
			float: left;
		}	
		.header_logo_2 {
			height: 80px;
			width: 80px;
			margin-top: 10px;
			float: right;
		}	
/*загаловок шапки*/
		.page_name {
			text-align: center;
			line-height: 100px;
			width: 40%;
			margin-left: auto;
			margin-right: auto;
		}

			.page_name span {
				font-family: 'M PLUS 1p', sans-serif;
				font-size: 28px;
			}

#second_header {
	height: 400px;
	width: 100%;
	background-image: url(../img/second_header_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

		.second_header_dark {
			width: 100%;
			height: 400px;
			background-color: rgba(0,0,0,.3);
		}

				.desc_login {
					height: 400px;
					width: 60%;
					margin-left: 5%;
					float: left;
				}

						.first_line_desc_login {
								font-family: 'M PLUS 1p', sans-serif;
								font-size: 100px;
								color: white;
						}

						.second_line_desc_login {
								font-family: 'M PLUS 1p', sans-serif;
								font-size: 32px;
								color: white;
						}

						.third_line_desc_login {
								font-family: 'M PLUS 1p', sans-serif;
								font-size: 32px;
								color: white;
						}

						.fourth_line_desc_login {
								font-family: 'M PLUS 1p', sans-serif;
								font-size: 72px;
								color: white;
						}
		.header_line {
			width: 1px;
			background-color: white;
			height: 300px;
			float: left;
			margin-top: 50px;
		}
		.login_form {
			width: 34%;
			height: 400px;
			float: right;
		}

			.login_form_center{
				height: 300px;
				width: 65%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 100px;
			}
			.main_field {
				margin-bottom: 10%;
				float: left;
			}
				.field {
					line-height: 50px;
					clear: both;
					text-align: right;	
				}
					.field label {
						float: left;
						font-family: 'M PLUS 1p', sans-serif;
						padding-right: 10px;
						font-size: 24px;
						color: white;
					}

					.input_text {
							height: 25px;
							width: 190px;
					}

					.login_button {
						background-color: rgba(0,0,0,0);
						border: 2px solid white;
						border-radius: 5px;
						padding-top: 10px;
						padding-bottom: 10px;
						padding-right: 20px;
						padding-left: 20px;
						color: white;
						font-size: 16px;
						cursor: pointer;
					}

					.login_button:hover {
						transition: 0.2s;
						background-color: rgba(0,0,0,.2);
					}
					.login_button:not(:hover){
						transition: 0.2s;
						background-color: rgba(0,0,0,0);
					}
					.reg_link {
						margin-right: 5%;
						color: white;
						font-family: 'M PLUS 1p', sans-serif;
					}
	.header_footer{
		height: 100%;
		width: 100%;
		text-align: center;
		margin-top: 6%;
	}
		.developer_desk {
			color: gray;
			font-family: 'M PLUS 1p',sans-serif;
		}
#section2 {
	width: 100vw;
	height: 100vh;
	background-image: url(../img/section2_bg.png);
	position: relative;
}
						
	.content{
		width: 600px;
		height: 400px;
		margin: auto;
		text-align: center;
		line-height: 400px;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		border: 30px solid rgba(192,192,192,.3);
	}
		.test_block{
			text-align: center;
			line-height: 200px;
			width: 200px;
			height: 200px;
			float: left;
		}
			.test_block a{
				display: block;
				color: white;
				text-decoration: none;
				font-family: 'M PLUS 1p', sans-serif;
				font-size: 28px;
				color: rgba(0,0,0,0);
			}
			.test_block a:hover{
				transition: 0.2s;
				background-color: rgba(0,0,0,.5);
				color: white;
			}
			.test_block a:not(:hover){
				transition: 0.2s;
				background-color: rgba(0,0,0,0);
				color: rgba(0,0,0,0);
			}
		.sport1{
			background-image: url(../media/flat-basketball-player-vector-illustration.jpg);
			background-size: 100%;
		}
		.sport2{
			background-image: url(../img/gymnast_test.png);
			background-size: 100%;
		}
		.sport3{
			background-image: url(../img/volley_test.jpg);
			background-size: 100%;
		}
		.sport4{
			background-image: url(../img/skiing_test.png);
			background-size: 100%;
		}
		.sport5{
			background-image: url(../media/602290260-612x612.jpg);
			background-size: 100%;
		}	
		.sport6{
			background-color: white;
		}

.main_field_second{
	text-align: center;
	line-height: 50px;
}

	.in_system{
		color: white;
		font-family: 'M PLUS 1p', sans-serif;

	}

.logout_content {
	font-size: 32px;
	font-family: 'M PLUS 1p', sans-serif;
	color: gray;

}
	.logout_content p a{

		color: black;
	}

.bad_login {
	width: 100%;
	text-align: center;
}
	.bad_login p {
		font-family: 'M PLUS 1p', sans-serif;
		font-size: 14px;
		color: red;
		text-shadow: 1px 1px 2px black;
	}