@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
html,body {
	margin: 0;
	padding: 0;
	background: #F5F5F5;
}

#pagewarp {
	width: 100%;
}
/*шапка*/
header {
	height: 100px;
	width: 100%;
	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}

	.header {
		width: 95%;
		margin-right: auto;
		margin-left: auto;
		height: 100px;
		overflow: hidden;
	}
/*лого шапки*/
		.header_logo {
			height: 80px;
			width: 80px;
			margin-top: 10px;
			float: left;
		}	
		.header_logo_2 {
			height: 80px;
			width: 80px;
			margin-top: 10px;
			float: right;
		}	
/*загаловок шапки*/
		.page_name {
			text-align: center;
			line-height: 100px;
			width: 40%;
			margin-left: auto;
			margin-right: auto;
		}

			.page_name span {
				font-family: 'M PLUS 1p', sans-serif;
				font-size: 28px;
			}

#second_header {
	height: 400px;
	width: 100%;
	background-image: url(../img/second_header_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

		.second_header_dark {
			width: 100%;
			height: 400px;
			background-color: rgba(0,0,0,.3);
		}

				.desc_login {
					height: 400px;
					width: 60%;
					margin-left: 5%;
					float: left;
				}

						.first_line_desc_login {
								font-family: 'M PLUS 1p', sans-serif;
								font-size: 100px;
								color: white;
						}

						.second_line_desc_login {
								font-family: 'M PLUS 1p', sans-serif;
								font-size: 32px;
								color: white;
						}

						.third_line_desc_login {
								font-family: 'M PLUS 1p', sans-serif;
								font-size: 32px;
								color: white;
						}

						.fourth_line_desc_login {
								font-family: 'M PLUS 1p', sans-serif;
								font-size: 72px;
								color: white;
						}
		.header_line {
			width: 1px;
			background-color: white;
			height: 300px;
			float: left;
			margin-top: 50px;
		}
		.login_form {
			width: 34%;
			height: 400px;
			float: right;
		}

			.login_form_center{
				height: 300px;
				width: 65%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 100px;
			}
			.main_field {
				float: left;
			}
				.field {
					line-height: 50px;
					clear: both;
					text-align: right;	
				}
					.field label {
						float: left;
						font-family: 'M PLUS 1p', sans-serif;
						padding-right: 10px;
						font-size: 24px;
						color: white;
					}
						.input_text{
							height: 25px;
							width: 195px;
					}

