@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
html,body {
	margin: 0;
	padding: 0;
	background: #F5F5F5;
}

#pagewarp {
	width: 100%;
	overflow-x:hidden;
}
#section1{
	width: 100vw;
	height: 100vh;
	background-color: #dcdcdc;
}
/*шапка*/
header {
	height: 100px;
	width: 100%;
	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}

	.header {
		width: 95%;
		margin-right: auto;
		margin-left: auto;
		height: 100px;
		overflow: hidden;
	}
/*лого шапки*/
		.header_logo {
			height: 80px;
			width: 80px;
			margin-top: 10px;
			float: left;
		}	
		.header_logo_2 {
			height: 80px;
			width: 80px;
			margin-top: 10px;
			float: right;
		}	
/*загаловок шапки*/
		.page_name {
			text-align: center;
			line-height: 100px;
			width: 40%;
			margin-left: auto;
			margin-right: auto;
		}

			.page_name span {
				font-family: 'M PLUS 1p', sans-serif;
				font-size: 28px;
			}

#second_header {
	height: 400px;
	width: 100%;
	background-image: url(../img/second_header_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

		.second_header_dark {
			width: 100%;
			height: 400px;
			background-color: rgba(0,0,0,.3);
		}

				.desc_login {
					height: 400px;
					width: 60%;
					margin-left: 5%;
					float: left;
				}

						.first_line_desc_login {
								font-family: 'M PLUS 1p', sans-serif;
								font-size: 100px;
								color: white;
						}

						.second_line_desc_login {
								font-family: 'M PLUS 1p', sans-serif;
								font-size: 32px;
								color: white;
						}

						.third_line_desc_login {
								font-family: 'M PLUS 1p', sans-serif;
								font-size: 32px;
								color: white;
						}

						.fourth_line_desc_login {
								font-family: 'M PLUS 1p', sans-serif;
								font-size: 72px;
								color: white;
						}
		.header_line {
			width: 1px;
			background-color: white;
			height: 300px;
			float: left;
			margin-top: 50px;
		}
		.login_form {
			width: 34%;
			height: 400px;
			float: right;
		}

			.login_form_center{
				height: 300px;
				width: 65%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 100px;
			}
			.main_field {
				float: left;
			}
				.field {
					line-height: 50px;
					clear: both;
					text-align: right;	
				}
					.field label {
						float: left;
						font-family: 'M PLUS 1p', sans-serif;
						padding-right: 10px;
						font-size: 24px;
						color: white;
					}

					.input_text {
							height: 25px;
							width: 190px;
					}

					.login_button {
						background-color: rgba(0,0,0,0);
						border: 2px solid white;
						border-radius: 5px;
						padding-top: 10px;
						padding-bottom: 10px;
						padding-right: 20px;
						padding-left: 20px;
						color: white;
						font-size: 16px;
						cursor: pointer;
					}

					.reg_link {
						margin-right: 5%;
						color: white;
						font-family: 'M PLUS 1p', sans-serif;
					}
	.header_footer{
		height: 100%;
		width: 100%;
		text-align: center;
		margin-top: 6%;
	}
		.developer_desk {
			color: gray;
			font-family: 'M PLUS 1p',sans-serif;
		}
#section2 {
	width: 100vw;
	height: 100vh;
	background-image: url(../img/section2_bg.png);
	position: relative;
}
						
	.content{
		width: 600px;
		height: 400px;
		border: 1px solid black;
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
	}
		.test_block{
			text-align: center;
			line-height: 200px;
			width: 200px;
			height: 200px;
			float: left;
			background-color: red;
		}
			.test_block a{
				display: block;
			}
			.test_block a:hover{
				background-color: rgba(0,0,0,.4);
			}
		.sport1{
			background-color: blue;
		}
		.sport2{
			background-color: green;
		}
		.sport3{
			background-color: gray;
		}
		.sport4{
			background-color: purple;
		}
		.sport5{
			background-color: orange;
		}
		.sport6{
			background-color: yellow;
		}